{{!-- The following component displays Ember's default welcome message. --}}
<div class="container">
    <h1>My exam app</h1>
    <div class="">
      <ul>
          {{#link-to 'lista-examenes'}}
          Lista examenes
          {{/link-to}}
      </ul>
    </div>
    {{outlet}}
</div>
