{{!-- The following component displays Ember's default welcome message. --}}
<div class="container">
    <h1>MY APP</h1>
    {{#link-to 'nuevo-examen' tagName='button'}}
    Crear Examen
    {{/link-to}}
    <div class="row">
      {{outlet}}
    </div>
</div>
