
<form  {{action 'save' on='submit'}}>
  <p> Lista examenes </p>
<ul>
    {{#each model as |test|}}
    <!--  -->
    <li>
      {{form-test test=test}}
      {{#link-to 'examen-details' test.id  tagName="button"}}
       Ver detalles
      {{/link-to}}
      <button{{action 'borrarExamen' test}}>
        Borrar
      </button>
    </li>

    {{/each}}
</ul>
</form>
