{{outlet}}
<h3>Lista examenes</h3>
{{#if evento.isNew}}
  {{lista-examenes}}
  {{else}}
  <p>nombre</p>
  <p>respuesta</p>
{{/if}}


<ul>
  {{#each model as |test|}}
    <li>
      {{#link-to 'examen-details' test.id tagName='button'}}
      {{test.nombre}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
